@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

body{
  background-color: #B7ACA5;
}

h1, h2, h3, h4, h5, h6{
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: -1px;
}

p, input{
  font-family: Helvetica, sans-serif;
}

.top-bar{
  background-color: #A2BFBD;
  border-bottom: solid #C8C4C4;
  height: 7em;
  width: 100%;
  position: sticky;
  top: 0;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 1em;
  overflow-x: hidden;
  padding-top: 16px;
}

.icon{
  color: #6487F6;
  font-size: 3em;
  margin-bottom: 0.5em;

  &:hover{
    color: #E1AA88;
    transform: scale(1.05) perspective(1px)
  }
}

.fa-paper-plane, .fa-paper-plane-o{
  color: #6487F6;
  font-size: 1.8em;
  border: solid 0.1em;
  border-radius: 0.3em;
  padding: 0.15em;

  &:hover{
    color: #E1AA88;
    transform: scale(1.05) perspective(1px)
  }
}

.bottom-bar{
  background-color: #A2BFBD;
  border-top: solid #C8C4C4;
  position: fixed;
  bottom: 0em;
  width: 100%;
  margin-bottom: 0em;
  padding: 1em 0em 0em 0em;
}

#app {
  background-image: 
    linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ), url('travel-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 125em;
  margin: 0em;
  padding: 2em;
}

.align-left{
  padding: 0em 0em 0em 2em;
  float: left;
}

.align-right{
  padding: 0em 2em 0em 0em;
  float: right;
}

.header-image{
  padding: 0em 0em 0.4em 0em;
}

.travel-keep-header{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #4B81E5;
  letter-spacing: -1px;
  word-spacing: -5px;

  &:hover{
    color: #2966C9;
  }
}

.homepage-intro-background{
  background-image: url('travel-homepage.jpg');
  background-size: cover;
  background-position: center;
  text-align: right;
  height: 45em;
  padding: 10em;
}

.lighten {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url('travel-homepage.jpg');
}

.homepage-intro-content h2{
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: 500;
}

.alert{
  font-family: Helvetica, sans-serif;
  color: #E25050;
}

.flash{
  font-family: Helvetica, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.button{
  background-color: #6487F6;
  color: #FFFFFF;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  border-radius: 1em;

  &:hover{
    background-color: #2966C9;
    transform: scale(1.05) perspective(1px)
  }
}

.button>a{
  background-color: #6487F6;
  color: #FFFFFF;
  border-radius: 1em;

  &:hover{
    background-color: #2966C9;
  }
}

.delete{
  margin: 0em 0em 1em 1em;
}

.test{
  color: inherit;
}

label{
  font-size: 1.3rem;
}

.unordered-list{
  list-style-type: none;
}

.component-page{
  margin: 5em 5em;
}

.box{
  background-color: #FFFFFF;
  border: solid #E6E6E6 0.2em;
  border-radius: 1em;
  padding: 3em;
  margin: 0em 2em 2em 2em;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.grid-header{
  margin-left: 2rem;
}

.grid-container{
  margin-left: auto;
  margin-right: auto;
}

.travel-tile{
  width: 18em;
  height: auto;
  text-align: center;
  padding: 2em;
  overflow-wrap: anywhere;
  hyphens: auto;
}

.form{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.ReactModal__Content{
  width: 60%;
  height: 50%;
  margin: auto;
}

.sticky-footer-css {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sticky-footer-css-body {
  overflow: auto;
}

.sticky-footer-css .header {
  background-color: #2c3840;
  height: 10rem;
  color: #fff;
  padding: 3rem;
}

.sticky-footer-css .header .menu a {
  color: #fff;
}

.sticky-footer-css .body-content {
  background-color: #fff;
}

.sticky-footer-css .footer {
  height: 10rem;
  background-color: #2c3840;
  color: #fff;
  padding: 3rem;
}

.sticky-footer-css .footer .menu a {
  color: #fff;
}